.xml,.resources,.cache, .pdb, .exe, .dll
ProjectName.xml
client/VisualEditor.Logic/obj/Debug/VisualEditor.Logic.Dialogs.StreamingVideoDialog.resources
client/VisualEditor.Utils/obj/Debug/VisualEditor.Utils.csprojResolveAssemblyReference.cache
client/VisualEditor/bin/Debug/AppSettings.xml
client/VisualEditor/bin/Debug/Bug reports/b3ed4355-01d7-448f-8b1f-33d21ceef778.xml
client/VisualEditor/bin/Debug/Bug reports/f4e56cce-eba3-4048-a951-fa5c688b73ed.xml
client/VisualEditor/bin/Debug/Dock.xml
